.imagen-redonda{
 border-radius: 50%;
 
}
.usuarios-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.fs-small{
    font-size: 13px;
}

.botones-container{
    border-top: 1px solid gray;
    
}