.elemento-a-mover {
    /* Establecemos la posición del elemento como "absoluta" o "fija" */
    position: absolute;
    
    /* Movemos el elemento a 50 píxeles de la izquierda */
    right: 50px;
  }

.ventana-fija{
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  z-index: 1;
}